@mixin message($background-color: $alert-background, $color: $alert-foreground) {
  background-color: $background-color;
  color: $color;
  padding: .5em .5em .5em .5em;
  border-radius: 3px;
  margin-bottom: $padding / 2;
  border: 1px solid $color;
}

* {
  @include box-sizing(border-box);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  color: $gray;
  font-family: $josefin;
  margin: 0 0 55px;
  font-size: 18px;
  @include background-image(image-url('pw_maze_white.png'));
}

.container {
  min-width: 1044px;
  width: 1044px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.alert  {
  @include message;
}

.notice {
  @include message($notice-background, $notice-foreground);
}

h1 {
  color: $darker-gray;
}

h2 {
  color: $green;
  font-weight: 600;
  font-size: 2em;
}

hr {
  border: 1px solid $lighten-gray;
  margin: 1em 0;
}

input[type='text'], input[type='password'], textarea, input[type='submit'] {
  font-family: $josefin;
}

input[type='text'], input[type='password'], textarea {
  border-radius: 3px;
  border: 1px solid #aaa;

  &:focus {
    outline: none;
    border-color: $green;
    box-shadow:0 0 10px $green;
  }
}

footer{
  font-size: 15px;
  background-color: $darker-gray;
  color: $lighten-green;
  padding: $padding / 2;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
}

header {
  background-color: white;
  padding: $padding / 8;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid $lighten-gray;

  .logo, .welcome {
    height: 100%;
    @include cell(6, middle);
  }

  .logo {
    text-align: left;

    span {
      font-family: Merienda;
      font-size: 1.7em;
      color: $green;
      text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.5);
    }
  }

  .welcome {
    text-align: right;
  }
}

.content {
  overflow: hidden;
  margin: 0;
  background-color: white;
  padding: ($padding / 2) 0;

  .form-help {
    color: $lighten-gray;
    font-size: 16px;
  }

  form {
    margin-top: $padding / 2;

    label {
      width: 6.5em;
      display: inline-block;
      vertical-align: middle;
      font-weight: 600;
    }

    input[type='text'], input[type='password'], textarea {
      width: 15em;
      font-size: 1em;
      padding: $padding / 4;
      margin-bottom: $padding / 4;

      &.medium {
        width: 25em;
      }
    }

    .actions {
      margin-top: $padding;
    }

    .field_with_errors {
      display: inline-block;

      input[type='text'], input[type='password'], textarea {
        border: 1px solid $error-color;
        color: $error-color;

        &:focus {
          outline: none;
          border-color: $error-color;
          box-shadow: 0 0 10px $error-color;
        }
      }
    }

    .error {
      color: $error-color;
      margin-left: 1em; //9em;
      font-size: 12px;
      //display: block;
    }
  }
}

.btn {
  @include button(simple, $green);
  color: white !important;
}

a {
  &.btn {
    text-align: center;
    color: white;
  }

  &.large {
    @include calc(width, '100% - (18px * 2)');
  }
}

.large {
  font-size: 1.2em;
  font-weight: normal;
  width: 25em;
}

.three {
  @include cell(3);
}

.five {
  @include cell(5);
}

.six {
  @include cell(6);
}

.nine {
  @include cell(9);
}

.twelve {
  @include cell(12);
}

.form {
  margin: 1em 0;

  @include form-fields;
}

.show {
  @include form-fields;

  .field {
    font-size: 18px;
  }
}

.avatar-medium {
  text-align: center
}

.welcome {
  vertical-align: middle;
  display: table;

  img {
    vertical-align: middle;
    margin: 0 5px;
  }
}

