@mixin form-fields {
  .field {
    margin: .5em 0;

    span {
      &.label {
        font-weight: bold;
        width: 8em;
        display: inline-block;
      }
    }
  }
}

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -o-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin cell($width, $valign: top) {
  width: grid-width($width);
  margin-left: $gw-gutter;
  display: inline-block;
  vertical-align: $valign;
}
